%% -*- mode: erlang; -*-
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
    lager,
    {riak_core, "3.0.9", {pkg, riak_core_ng}},
    {cowboy, "1.0.3"},
    jsx,
    recon,
    {cowboy_exometer, {git, "git://github.com/marianoguerra/cowboy_exometer", {branch, "master"}}},
    {rcs_cowboy, {git, "git://github.com/marianoguerra/rcs_cowboy", {branch, "master"}}},

    time_compat,
    pbkdf2,
    exometer_core
]}.

{relx, [{release, { tanodb , "0.1.0"},
         [tanodb,
          cowboy,
          jsx,
          recon,
          cowboy_exometer,
          rcs_cowboy,
          time_compat,
          cuttlefish,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {overlay_vars, "config/vars.config"},
        {overlay, [
            {mkdir, "etc"},
            {mkdir, "bin"},
            {mkdir, "data/ring"},
            {mkdir, "log/sasl"},
            {template, "./config/erlang_vm.schema",
                        "share/schema/11-erlang_vm.schema"},
            {template, "./config/riak_core.schema", "share/schema/12-riak_core.schema"},
            {template, "./_build/default/lib/riak_sysmon/priv/riak_sysmon.schema", "lib/15-riak_sysmon.schema"},
            {template, "./_build/default/lib/eleveldb/priv/eleveldb.schema", "share/schema/21-leveldb.schema"},
            {template, "config/config.schema", "share/schema/22-tanodb.schema"},
            {copy, "./config/admin_bin", "bin/tanodb-admin"},
            {template, "./config/advanced.config", "etc/advanced.config"}
        ]}
]}.

{plugins, [rebar3_run]}.
{project_plugins, [rebar3_cuttlefish]}.

{cuttlefish,
 [{schema_discovery, false}]}.

{profiles, [
    {prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]},
    {dev1, [{relx, [{overlay_vars, "config/vars_dev1.config"},
                    {vm_args, "./config/dev1_vm.args"}]}]},
    {dev2, [{relx, [{overlay_vars, "config/vars_dev2.config"},
                    {vm_args, "./config/dev2_vm.args"}]}]},
    {dev3, [{relx, [{overlay_vars, "config/vars_dev3.config"},
                    {vm_args, "./config/dev3_vm.args"}]}]}
]}.


{overrides,
 [{override, riak_ensemble,
  [
      {erl_opts, [debug_info,
          warn_untyped_record,
          {parse_transform, lager_transform}]}
  ]},
  {override, poolboy,
      [{erl_opts, [debug_info, {platform_define, "^[0-9]+", namespaced_types}]}]},
  {override, cuttlefish,
    [{escript_emu_args, "%%! -escript main cuttlefish_escript +S 1 +A 0\n"}]},
  {override, riak_core,
  [
      {erl_opts, [debug_info,
          export_all,
          {parse_transform, lager_transform},
          {platform_define, "^[0-9]+", namespaced_types},
          {platform_define, "^R15", "old_hash"}]}
  ]}
 ]}.
