{cuttlefish_conf, "tanodb.conf"}.
{rel_name, "tanodb"}.
{node, "tanodb@127.0.0.1"}.

{web_ip,            "127.0.0.1"}.
{web_port,          8098}.
{handoff_port,      8099}.
{handoff_ip,        "127.0.0.1"}.
{sasl_error_log,    "./log/sasl-error.log"}.
{sasl_log_dir,      "./log/sasl"}.

{platform_bin_dir,  "./bin"}.
{platform_data_dir, "../tanodb_data"}.
{platform_etc_dir,  "../tanodb_config"}.
{platform_lib_dir,  "./lib"}.
{platform_log_dir,  "./log"}.

